USE [master]
GO
/****** Object:  Database [ToyNJoy2.0]    Script Date: 2023/3/6 23:06:29 ******/
CREATE DATABASE [ToyNJoy2.0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToyNJoy', FILENAME = N'E:\MyProject\SQLServer\ToyNJoy2.0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToyNJoy_log', FILENAME = N'E:\MyProject\SQLServer\ToyNJoy2.0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToyNJoy2.0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToyNJoy2.0]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 2023/3/6 23:06:30 ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LAPTOP-QMUSL2MS\16973]    Script Date: 2023/3/6 23:06:30 ******/
CREATE USER [LAPTOP-QMUSL2MS\16973] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LAPTOP-QMUSL2MS\16973]
GO
/****** Object:  Table [dbo].[Friend]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend](
	[id] [varchar](200) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[friend_name] [varchar](100) NOT NULL,
	[nickname] [varchar](max) NULL,
	[state] [int] NOT NULL,
	[group_id] [int] NULL,
 CONSTRAINT [PK_Friend] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friend_Group]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend_Group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[group_name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Friend_Group_User_name] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Library]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[product_id] [int] NOT NULL,
	[join_time] [datetime] NOT NULL,
	[last_time] [datetime] NOT NULL,
	[total_hours] [int] NOT NULL,
	[group_id] [int] NULL,
 CONSTRAINT [PK_library] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Library_Group]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library_Group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[group_name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_varchar(32)] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NULL,
	[title] [varchar](max) NOT NULL,
	[text] [varchar](max) NOT NULL,
	[page_view] [int] NOT NULL,
	[commend] [int] NOT NULL,
	[trample] [int] NOT NULL,
	[update_time] [datetime] NOT NULL,
	[image] [varchar](max) NULL,
	[product_id] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_Type]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_Type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](max) NOT NULL,
	[state] [int] NOT NULL,
 CONSTRAINT [PK_News_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [varchar](255) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[total_amount] [float] NOT NULL,
	[state] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[alipay_form] [varchar](max) NULL,
	[alipay_response] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [varchar](255) NOT NULL,
	[product_id] [int] NOT NULL,
	[original_prices] [float] NOT NULL,
	[discount] [float] NOT NULL,
	[payment] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NOT NULL,
	[name] [varchar](max) NOT NULL,
	[image] [varchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[intro] [varchar](max) NOT NULL,
	[age_grading] [int] NOT NULL,
	[developers] [varchar](max) NOT NULL,
	[publisher] [varchar](max) NOT NULL,
	[release_date] [datetime] NOT NULL,
	[browse] [int] NOT NULL,
	[purchases] [int] NOT NULL,
	[discount] [float] NOT NULL,
	[state] [int] NOT NULL,
	[file_name] [varchar](255) NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_hardware_requirements]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_hardware_requirements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Product_id] [int] NOT NULL,
	[OS] [varchar](max) NOT NULL,
	[OS_] [varchar](max) NOT NULL,
	[CPU] [varchar](max) NOT NULL,
	[CPU_] [varchar](max) NOT NULL,
	[RAM] [varchar](max) NOT NULL,
	[RAM_] [varchar](max) NOT NULL,
	[GPU] [varchar](max) NOT NULL,
	[GPU_] [varchar](max) NOT NULL,
	[DirectX] [varchar](max) NOT NULL,
	[DirectX_] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Game_hardware_requirements] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Photo_Gallery]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Photo_Gallery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image] [varchar](max) NOT NULL,
	[join_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Product_Photo_Gallery] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](max) NOT NULL,
	[state] [int] NOT NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shopping_Car]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shopping_Car](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK_Shopping_Car] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_info]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[signature] [varchar](max) NOT NULL,
	[wrapper_image] [varchar](max) NOT NULL,
	[gender] [varchar](max) NULL,
	[birthday] [date] NULL,
	[IDCard] [varchar](max) NULL,
	[address] [varchar](max) NULL,
	[phone] [varchar](max) NULL,
 CONSTRAINT [PK_User_info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Type]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](255) NOT NULL,
	[state] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](100) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[nickname] [varchar](max) NOT NULL,
	[Lv] [int] NOT NULL,
	[virtual_image] [varchar](max) NOT NULL,
	[register_time] [date] NOT NULL,
	[state] [int] NOT NULL,
	[type_id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wish_List]    Script Date: 2023/3/6 23:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wish_List](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[product_id] [int] NOT NULL,
	[serial_namber] [int] NOT NULL,
	[join_date] [date] NOT NULL,
 CONSTRAINT [PK_Wish_List] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Library] ON 

INSERT [dbo].[Library] ([id], [user_name], [product_id], [join_time], [last_time], [total_hours], [group_id]) VALUES (25, N'huangjunxi', 2, CAST(N'2020-03-10T02:37:31.667' AS DateTime), CAST(N'2023-01-27T14:20:17.000' AS DateTime), 18, NULL)
INSERT [dbo].[Library] ([id], [user_name], [product_id], [join_time], [last_time], [total_hours], [group_id]) VALUES (26, N'huangjunxi', 5, CAST(N'2020-03-10T02:37:31.667' AS DateTime), CAST(N'2023-01-18T10:44:34.000' AS DateTime), 4, NULL)
INSERT [dbo].[Library] ([id], [user_name], [product_id], [join_time], [last_time], [total_hours], [group_id]) VALUES (27, N'huangjunxi', 4, CAST(N'2020-03-27T13:31:09.767' AS DateTime), CAST(N'2023-01-18T10:44:36.000' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Library] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([id], [type_id], [title], [text], [page_view], [commend], [trample], [update_time], [image], [product_id]) VALUES (2, 2, N'1月1日宣布2019 Steam奖获奖名单', N'<p>我们很兴奋地宣布2019 Steam奖的获奖名单!以下是Steam社区投票选出的2019年最受欢迎的游戏和开发者。有八个类别需要做出很多艰难的决定;这就是为什么我们让你，我们的伟大的社区，去做!你不仅是一个值得信赖的、充满激情的、有品位的人，而且，我们不能相信自己能挑出一个最喜欢的。我们真的爱他们所有人!在今年的颁奖典礼上，我们要求大家把目光集中在过去12个月发行的影片上。我们很高兴呈现2019年最好的新版本，以及你选择的爱的劳动奖:今年更新的最佳游戏。那么闲话少说,??????:这是您的2019蒸汽奖!祝贺!</p>', 178, 17, 1, CAST(N'2023-03-05T23:43:47.683' AS DateTime), N'1678031025901.jpeg', 2)
INSERT [dbo].[News] ([id], [type_id], [title], [text], [page_view], [commend], [trample], [update_time], [image], [product_id]) VALUES (4, 2, N'2019年12月31日最后一次投票的机会在蒸汽奖-获奖者明天宣布!', N'<p>今天是2019 Steam大奖投票的最后一天了!最后一次投票的机会在蒸汽奖-获奖者明天宣布!请务必在太平洋时间12月31日上午9点前投票，然后在太平洋时间上午10点再来查看获胜者名单!<br></p><p>既然假期会很有压力，你的家人会逼得你发疯，让你更爱他们，那就把这当成是向你所爱的人表达感激的最后一种方式吧!虽然在这种情况下，我们所说的“所爱之人”指的是你在2019年最喜欢的全新或更新的Steam游戏。<br></p><p>现在就全部八个类别投票!然后坐下来，放松，并等待2019蒸汽奖得主的大揭牌明天上午10点太平洋。然后，去享受你应得的漫长的冬季小睡吧，我们将在2020年看到你更多的蒸汽乐趣!</p>', 3, 1, 0, CAST(N'2019-12-31T00:00:00.000' AS DateTime), N'1678028397291.jpeg', 4)
INSERT [dbo].[News] ([id], [type_id], [title], [text], [page_view], [commend], [trample], [update_time], [image], [product_id]) VALUES (5, 2, N'现在AvailLast机会为蒸汽秋季销售蒸汽奖提名!', N'<p>2019年Steam秋季特卖将于24小时后结束。*不要错过Steam产品目录上的优惠信息。2019 Steam奖项的公开提名即将结束。一定要提名，并帮助确定所有八个类别的最终入围者。在12月，你可以在Steam冬季销售中为每个类别的获胜者投票。点击这里了解更多Steam奖项信息。*截止时间:12月3日，星期二上午10点。如果你喜欢今年Steam秋季特卖会的头版艺术，并想要一个桌面壁纸版本，你可以在下面下载它们，以及2019 Steam大奖的类别作品。下载蒸汽秋季销售和蒸汽奖2019壁纸</p>', 2, 0, 0, CAST(N'2023-03-06T00:28:01.177' AS DateTime), N'1678033680011.jpg', NULL)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[News_Type] ON 

INSERT [dbo].[News_Type] ([id], [type_name], [state]) VALUES (1, N'更新', 1)
INSERT [dbo].[News_Type] ([id], [type_name], [state]) VALUES (2, N'其他', 1)
SET IDENTITY_INSERT [dbo].[News_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Item] ON 

INSERT [dbo].[Order_Item] ([id], [order_id], [product_id], [original_prices], [discount], [payment]) VALUES (43, N'2023020317513251901', 12, 248, 1, 248)
INSERT [dbo].[Order_Item] ([id], [order_id], [product_id], [original_prices], [discount], [payment]) VALUES (44, N'2023030318076307846', 41, 80, 1, 80)
SET IDENTITY_INSERT [dbo].[Order_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [type_id], [name], [image], [price], [intro], [age_grading], [developers], [publisher], [release_date], [browse], [purchases], [discount], [state], [file_name]) VALUES (3, 1, N'太吾绘卷', N'TAIWUHUIJUAN.jpg', 68, N'在《太吾绘卷》的世界中，你除了需要扮演神秘的“太吾氏传人”，还将以不同的处世立场——或善、或恶、或中庸——投身于纷繁复杂的江湖之中。你不仅可以拜访世界各地的武林门派，学习种类繁多的功法绝艺；还可以与人义结金兰，或结下血海深仇；不仅可以兴建自己的村庄，经营各种产业；还可以与自己的挚爱生儿育女，缘定三生；直到你终于面对太吾氏的宿敌，决定世界的命运！', 0, N'ConchShip Games', N'ConchShip Games', CAST(N'2018-09-28T00:00:00.000' AS DateTime), 30, 1, 0.8, 1, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_hardware_requirements] ON 

INSERT [dbo].[Product_hardware_requirements] ([id], [Product_id], [OS], [OS_], [CPU], [CPU_], [RAM], [RAM_], [GPU], [GPU_], [DirectX], [DirectX_]) VALUES (3, 4, N'123', N'123', N'123', N'123', N'123', N'123', N'123', N'123', N'123', N'123')
INSERT [dbo].[Product_hardware_requirements] ([id], [Product_id], [OS], [OS_], [CPU], [CPU_], [RAM], [RAM_], [GPU], [GPU_], [DirectX], [DirectX_]) VALUES (1003, 2, N'Windows 7/Windows 8/Windows 10', N'Windows 7/Windows 8/Windows 10', N'i5 8450', N'i9 9580', N'8G', N'32G', N'GTX 950', N'RTX 2080', N'123', N'123')
INSERT [dbo].[Product_hardware_requirements] ([id], [Product_id], [OS], [OS_], [CPU], [CPU_], [RAM], [RAM_], [GPU], [GPU_], [DirectX], [DirectX_]) VALUES (1005, 1, N'Windows 7', N'Windows 7 及以上', N'i5 8450', N'i9 9580', N'16G', N'32G', N'GTX970', N'RTX2080', N'123', N'123')
SET IDENTITY_INSERT [dbo].[Product_hardware_requirements] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Photo_Gallery] ON 

INSERT [dbo].[Product_Photo_Gallery] ([id], [product_id], [image], [join_date]) VALUES (1, 12, N'AssassinsCreedOdyssey-1.jpg', CAST(N'2020-02-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Product_Photo_Gallery] ([id], [product_id], [image], [join_date]) VALUES (2, 12, N'AssassinsCreedOdyssey-2.jpg', CAST(N'2020-02-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Product_Photo_Gallery] ([id], [product_id], [image], [join_date]) VALUES (3, 12, N'AssassinsCreedOdyssey-3.jpg', CAST(N'2020-02-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product_Photo_Gallery] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_type] ON 

INSERT [dbo].[Product_type] ([id], [type_name], [state]) VALUES (1, N'开放世界', 1)
INSERT [dbo].[Product_type] ([id], [type_name], [state]) VALUES (5, N'角色扮演', 1)
INSERT [dbo].[Product_type] ([id], [type_name], [state]) VALUES (6, N'解谜', 1)
SET IDENTITY_INSERT [dbo].[Product_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Shopping_Car] ON 

INSERT [dbo].[Shopping_Car] ([id], [user_name], [product_id]) VALUES (2035, N'huangjunxi', 41)
SET IDENTITY_INSERT [dbo].[Shopping_Car] OFF
GO
SET IDENTITY_INSERT [dbo].[User_info] ON 

INSERT [dbo].[User_info] ([id], [user_name], [signature], [wrapper_image], [gender], [birthday], [IDCard], [address], [phone]) VALUES (13, N'huangjunxi', N'这个人懒死了，什么都没写', N'ToyNJoy(3).jpg', N'boy', CAST(N'2000-01-20' AS Date), N'430602200001202010', N'湖南省 岳阳市 岳阳楼区 岳阳大道 泓园小区', N'17680471967')
INSERT [dbo].[User_info] ([id], [user_name], [signature], [wrapper_image], [gender], [birthday], [IDCard], [address], [phone]) VALUES (1024, N'Keter', N'这个人懒死了，什么都没写', N'ToyNJoy(2).jpg', N'boy', CAST(N'2000-01-20' AS Date), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User_info] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Type] ON 

INSERT [dbo].[User_Type] ([id], [type_name], [state]) VALUES (1, N'管理员', 1)
INSERT [dbo].[User_Type] ([id], [type_name], [state]) VALUES (2, N'用户', 1)
SET IDENTITY_INSERT [dbo].[User_Type] OFF
GO
INSERT [dbo].[Users] ([username], [password], [email], [nickname], [Lv], [virtual_image], [register_time], [state], [type_id]) VALUES (N'huangjunxi', N'00000000', N'1697339219@qq.com', N'Keter', 1, N'huangjunxi_virtual_20230305103818.jpg', CAST(N'2020-02-24' AS Date), 1, 2)
INSERT [dbo].[Users] ([username], [password], [email], [nickname], [Lv], [virtual_image], [register_time], [state], [type_id]) VALUES (N'Keter', N'0120', N'huangjunxi.keter@qq.com', N'Keter', 0, N'Keter_virtual.png', CAST(N'2023-01-29' AS Date), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Wish_List] ON 

INSERT [dbo].[Wish_List] ([id], [user_name], [product_id], [serial_namber], [join_date]) VALUES (16, N'huangjunxi', 3, 0, CAST(N'2021-12-25' AS Date))
SET IDENTITY_INSERT [dbo].[Wish_List] OFF
GO
ALTER TABLE [dbo].[Friend]  WITH CHECK ADD  CONSTRAINT [FK_Friend_Friend_name] FOREIGN KEY([friend_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Friend] CHECK CONSTRAINT [FK_Friend_Friend_name]
GO
ALTER TABLE [dbo].[Friend]  WITH CHECK ADD  CONSTRAINT [FK_Friend_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[Friend_Group] ([id])
GO
ALTER TABLE [dbo].[Friend] CHECK CONSTRAINT [FK_Friend_group_id]
GO
ALTER TABLE [dbo].[Friend]  WITH CHECK ADD  CONSTRAINT [FK_Friend_username] FOREIGN KEY([user_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Friend] CHECK CONSTRAINT [FK_Friend_username]
GO
ALTER TABLE [dbo].[Friend_Group]  WITH CHECK ADD  CONSTRAINT [FK_Friend_Group_user_name] FOREIGN KEY([user_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Friend_Group] CHECK CONSTRAINT [FK_Friend_Group_user_name]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [FK_Library_Library_Group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[Library_Group] ([id])
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [FK_Library_Library_Group_id]
GO
ALTER TABLE [dbo].[Library]  WITH NOCHECK ADD  CONSTRAINT [FK_library_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Library] NOCHECK CONSTRAINT [FK_library_product_id]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [FK_Library_user_name] FOREIGN KEY([user_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [FK_Library_user_name]
GO
ALTER TABLE [dbo].[Library_Group]  WITH CHECK ADD  CONSTRAINT [FK_Library_Group_user_name] FOREIGN KEY([user_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Library_Group] CHECK CONSTRAINT [FK_Library_Group_user_name]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Type_id] FOREIGN KEY([type_id])
REFERENCES [dbo].[News_Type] ([id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Type_id]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [userOrder] FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [userOrder]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [inOrder] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [inOrder]
GO
ALTER TABLE [dbo].[Order_Item]  WITH NOCHECK ADD  CONSTRAINT [itemProduct] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Order_Item] NOCHECK CONSTRAINT [itemProduct]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Type_id] FOREIGN KEY([type_id])
REFERENCES [dbo].[Product_type] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Type_id]
GO
ALTER TABLE [dbo].[Product_hardware_requirements]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_hardware_requirements_Product_id] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_hardware_requirements] NOCHECK CONSTRAINT [FK_Product_hardware_requirements_Product_id]
GO
ALTER TABLE [dbo].[Product_Photo_Gallery]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_Photo_Gallery_Product_ID] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_Photo_Gallery] NOCHECK CONSTRAINT [FK_Product_Photo_Gallery_Product_ID]
GO
ALTER TABLE [dbo].[Shopping_Car]  WITH NOCHECK ADD  CONSTRAINT [FK_Shopping_Car_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Shopping_Car] CHECK CONSTRAINT [FK_Shopping_Car_product_id]
GO
ALTER TABLE [dbo].[Shopping_Car]  WITH CHECK ADD  CONSTRAINT [FK_Shopping_Car_user_name] FOREIGN KEY([user_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Shopping_Car] CHECK CONSTRAINT [FK_Shopping_Car_user_name]
GO
ALTER TABLE [dbo].[User_info]  WITH CHECK ADD  CONSTRAINT [FK_User_info_User_name] FOREIGN KEY([user_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[User_info] CHECK CONSTRAINT [FK_User_info_User_name]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [User&User_Type] FOREIGN KEY([type_id])
REFERENCES [dbo].[User_Type] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [User&User_Type]
GO
ALTER TABLE [dbo].[Wish_List]  WITH NOCHECK ADD  CONSTRAINT [FK_Wish_List_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Wish_List] NOCHECK CONSTRAINT [FK_Wish_List_product_id]
GO
ALTER TABLE [dbo].[Wish_List]  WITH CHECK ADD  CONSTRAINT [FK_Wish_List_user_name] FOREIGN KEY([user_name])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Wish_List] CHECK CONSTRAINT [FK_Wish_List_user_name]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'好友 用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend', @level2type=N'COLUMN',@level2name=N'friend_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'好友 备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend', @level2type=N'COLUMN',@level2name=N'nickname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend', @level2type=N'COLUMN',@level2name=N'group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend_Group', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend_Group', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Friend_Group', @level2type=N'COLUMN',@level2name=N'group_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library', @level2type=N'COLUMN',@level2name=N'join_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后操作时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library', @level2type=N'COLUMN',@level2name=N'last_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总操作时间（运行时长）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library', @level2type=N'COLUMN',@level2name=N'total_hours'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library', @level2type=N'COLUMN',@level2name=N'group_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library_Group', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library_Group', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Library_Group', @level2type=N'COLUMN',@level2name=N'group_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'text'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'浏览量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'page_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'点赞' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'commend'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'点踩' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'trample'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'封面' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'相关产品id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News_Type', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News_Type', @level2type=N'COLUMN',@level2name=N'type_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态：0停用 1启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News_Type', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'total_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态 0未支付 1支付 2已关闭' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'create_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'支付跳转表单' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'alipay_form'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'支付宝回调参数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'alipay_response'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order_Item', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'订单id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order_Item', @level2type=N'COLUMN',@level2name=N'order_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order_Item', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'原价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order_Item', @level2type=N'COLUMN',@level2name=N'original_prices'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order_Item', @level2type=N'COLUMN',@level2name=N'discount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'实付（根据商品价格和折扣计算）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order_Item', @level2type=N'COLUMN',@level2name=N'payment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品封面' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'价格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'介绍' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'intro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'年龄分级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'age_grading'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'开发商' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'developers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发行商' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'publisher'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发行时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'release_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'浏览量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'browse'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'销量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'purchases'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'discount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态：0禁用 1启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'file_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'Product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标准配置 系统' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'OS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'推荐配置 系统' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'OS_'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标准配置 处理器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'CPU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'推荐配置 处理器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'CPU_'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标准配置 运行内存' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'RAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'推荐配置 运行内存' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'RAM_'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标准配置 显卡' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'GPU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'推荐配置 显卡' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'GPU_'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标准配置 DX版本' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'DirectX'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'推荐配置 DX版本' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_hardware_requirements', @level2type=N'COLUMN',@level2name=N'DirectX_'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_Photo_Gallery', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_Photo_Gallery', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_Photo_Gallery', @level2type=N'COLUMN',@level2name=N'image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_Photo_Gallery', @level2type=N'COLUMN',@level2name=N'join_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_type', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_type', @level2type=N'COLUMN',@level2name=N'type_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型状态：0停用 1启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_type', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Shopping_Car', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Shopping_Car', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Shopping_Car', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'签名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'signature'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'个人空间背景' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'wrapper_image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'birthday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身份证' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'IDCard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_info', @level2type=N'COLUMN',@level2name=N'phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键 自增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Type', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Type', @level2type=N'COLUMN',@level2name=N'type_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态：0禁用 1启用用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Type', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键（用户名）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'nickname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Lv'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'virtual_image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'register_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态 0禁用 1启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Wish_List', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Wish_List', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Wish_List', @level2type=N'COLUMN',@level2name=N'product_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序顺序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Wish_List', @level2type=N'COLUMN',@level2name=N'serial_namber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Wish_List', @level2type=N'COLUMN',@level2name=N'join_date'
GO
USE [master]
GO
